/build/*
/libc/*.a
/initrd/lib/*
/initrd/bin/*
/sysroot/cat/cat
/sysroot/esh/esh
/sysroot/false/false
/sysroot/true/true
/sysroot/hello/hello
/sysroot/trans/trans
/sysroot/login/login
/sysroot/mine/mine
*.a
*.zip
*.iso
*.o
*.elf
*.pro*
*.map
*.geany
*.autosave
*.creator*
*.files
*.includes
*.config
*.kdev*
System.map
